# ANS NO:1

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\admin\anaconda3\lib\site-packages (4.23.1)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.26.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (2023.11.17)
Requirement already satisfied: typing_extensions~=4.9 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (4.12.2)
Requirement already satisfied: websocket-client~=1.8 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (1.8.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (24.2.0)
Requirement already satisfied: sortedcontainers in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\admin\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\admin\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\admin\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\admin\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [145]:
import selenium
import pandas as pd
import time
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By

In [158]:
driver = webdriver.Chrome()

In [159]:
driver.get("https://www.naukri.com/")

In [160]:
designation =driver.find_element(By.CLASS_NAME,'suggestor-input ')
designation.send_keys("Data Science")

In [161]:
location = driver.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input')
location.send_keys('Delhi/NCR')

In [133]:
job_title =[]

titles = driver.find_elements(By.XPATH,'//a[@class="title "]')
for i in titles:
    title = i.text
    job_title.append(title)

print(job_title)

['Data Science Analytics Analyst', 'S&C Global Network - AI - Hi Tech - Data Science Consultant', 'Analytics Data science and IOT Lead', 'S&C Global Network - AI - Hi Tech - Data Science Consultant', 'S&C Global Network - AI - CMT - Analyst Data Science', 'Senior Analyst - Data Science', 'S&C Global Network - AI - Life Sciences -Data Science Manager', 'S&C Global Network - AI - Life Sciences -Data Science Analyst', 'Data Science Engineer - Data Analyst/Scientist', 'Data Science Analyst (Senior)', 'Analytics Data science and IOT Lead', 'S&C Global Network - AI - CG&S - Consultant Data Science', 'S&C Global Network - AI - Hi Tech - Data Science Manager', 'S&C Global Network - AI - CG&S - Manager Data Science', 'S&C Global Network - AI - CG&S - Consultant Data Science', 'Data Science Lead', 'Data Science Analytics Sr Analyst', 'Data Science Intern', 'S&C Global Network - AI - CG&S - Manager Data Science']

In [134]:
print(len(job_title))

19

In [135]:
job_location =[]

locations =driver.find_elements(By.XPATH,'//span[@class="locWdth"]')
for i in locations:
    location = i.text
    job_location.append(location)

print(job_location)

['Gurugram', 'Kolkata, Hyderabad, Gurugram', 'Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru', 'Gurugram', 'Hyderabad, Gurugram, Bengaluru', 'Gurugram', 'Delhi / NCR, Mumbai, Bengaluru', 'Gurugram', 'Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru', 'Gurugram', 'Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru', 'Gurugram', 'Hyderabad, Gurugram, Bengaluru', 'Gurugram', 'Gurugram', 'Hybrid - Noida, Bengaluru', 'Gurugram', 'Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru', 'Gurugram']

In [136]:
print(len(job_location))

19

In [137]:
company_name =[]

companies =driver.find_elements(By.XPATH,'//a[@class=" comp-name mw-25"]')
for i in companies:
    company = i.text
    company_name.append(company)

print(company_name)

['Accenture', 'Accenture', 'Hexaware Technologies', 'Accenture', 'Accenture', 'AMERICAN EXPRESS', 'Accenture', 'Accenture', 'Response Informatics', 'Infogain India (P) Ltd.', 'Hexaware Technologies', 'Accenture', 'Accenture', 'Accenture', 'Accenture', 'TELUS International', 'Accenture', 'Cloud Counselage Pvt. Ltd.', 'Accenture']

In [138]:
print(len(company_name))

19

In [139]:
Total_exp =[]

experinces =driver.find_elements(By.XPATH,'//span[@class="expwdth"]')
for i in experinces:
    exp = i.text
    Total_exp.append(exp)

print(Total_exp)

['2-5 Yrs', '4-8 Yrs', '1-7 Yrs', '5-10 Yrs', '5-9 Yrs', '2-5 Yrs', '10-12 Yrs', '2-5 Yrs', '1-5 Yrs', '6-8 Yrs', '3-5 Yrs', '5-10 Yrs', '10-12 Yrs', '10-12 Yrs', '5-10 Yrs', '10-15 Yrs', '5-8 Yrs', '0-1 Yrs', '10-12 Yrs']

In [140]:
print(len(Total_exp))

19

In [144]:
DF = pd.DataFrame({'job_title':job_title,'job_location':job_location,'Total_exp':Total_exp,'company_name':company_name})
DF.head(10)

,job_title,job_location,Total_exp,company_name
0,Data Science Analytics Analyst,Gurugram,2-5 Yrs,Accenture
1,S&C Global Network - AI - Hi Tech - Data Scien...,"Kolkata, Hyderabad, Gurugram",4-8 Yrs,Accenture
2,Analytics Data science and IOT Lead,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",1-7 Yrs,Hexaware Technologies
3,S&C Global Network - AI - Hi Tech - Data Scien...,Gurugram,5-10 Yrs,Accenture
4,S&C Global Network - AI - CMT - Analyst Data S...,"Hyderabad, Gurugram, Bengaluru",5-9 Yrs,Accenture
5,Senior Analyst - Data Science,Gurugram,2-5 Yrs,AMERICAN EXPRESS
6,S&C Global Network - AI - Life Sciences -Data ...,"Delhi / NCR, Mumbai, Bengaluru",10-12 Yrs,Accenture
7,S&C Global Network - AI - Life Sciences -Data ...,Gurugram,2-5 Yrs,Accenture
8,Data Science Engineer - Data Analyst/Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",1-5 Yrs,Response Informatics
9,Data Science Analyst (Senior),Gurugram,6-8 Yrs,Infogain India (P) Ltd.

# ANS NO : 2

In [111]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\admin\anaconda3\lib\site-packages (4.23.1)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.26.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (2023.11.17)
Requirement already satisfied: typing_extensions~=4.9 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (4.12.2)
Requirement already satisfied: websocket-client~=1.8 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (1.8.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (24.2.0)
Requirement already satisfied: sortedcontainers in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\admin\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\admin\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\admin\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\admin\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [112]:
import selenium
import pandas as pd
import time
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By

In [113]:
driver = webdriver.Chrome()

In [114]:
driver.get(" https://www.shine.com/")

In [116]:
designation =driver.find_element(By.XPATH,'//input[@class="form-control  "]')
designation.send_keys('Data Scientist')

In [117]:
location =driver.find_element(By.XPATH,'//li[@class="searchForm_search_item__hr6Du form-group"]/div/input')
location.send_keys('Banglore')

In [118]:
job_title =[]

titles = driver.find_elements(By.XPATH,'//strong[@class="jobCard_pReplaceH2__xWmHg"]')
for i in titles:
    title = i.text
    job_title.append(title)

print(job_title)

['Lead Data Scientist', 'Data Scientist', 'Data Scientist', 'Data Scientist', 'Data Scientist', 'Data Science Analytics', 'Data Science Manager', 'Data Management Team Leader', 'Healthcare Data Analyst', 'Senior Data Analyst', 'Data Modeler', 'Senior Data Engineer', 'Opening for HR Analytics Power BI, Data Anlytics', 'AWS data Engineer', 'Data Analyst , Senior Data Analyst , Data Analyst - Tec ...', 'AI ML Developer', 'Clinical Data Specialist', 'VP - Data & Platform Engineering & AI (Leading MNC IT C ...', 'Urgent Hiring For Data Analyst', 'Data Science with R Studio']

In [119]:
print(len(job_title))

20

In [120]:
job_location =[]

job_locations =driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in job_locations:
    job_loc = i.text
    job_location.append(job_loc)

print(job_location)

['Gurugram\n+8', 'Bangalore\n+9', 'Bangalore', 'Bangalore\n+2', 'Mumbai City\n+9', 'Gurugram\n+7', 'Gurugram\n+7', 'Gurugram\n+9', 'Gurugram\n+8', 'Gurugram\n+8', 'Bangalore', 'Bangalore', 'Bangalore', 'Bangalore\n+2', 'Gurugram\n+8', 'Bangalore', 'Gurugram\n+8', 'Bangalore\n+2', 'Bangalore\n+2', 'Bhubaneswar\n+4']

In [121]:
print(len(job_location))

20

In [122]:
company_name =[]

companies =driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in companies:
    company = i.text
    company_name.append(company)

print(company_name)

['spento papers (india) llp', 'future solution centre', 'eliterecruitments hiring for global...', "the christopher's consulting and re...", 'divya staffing solution', 'mackenzie modern it solutions priva...', 'mackenzie modern it solutions priva...', 'overnet trading private limited', 'spento papers (india) llp', 'gallagher and mohan private limited', 'ntech it solutions private limited', 'i-vintage solutions pvt. ltd.', 'personal network.', 'integrated personnel services limit...', 'appsoft solutions', 'aquilasys consultancy private limit...', 'techno endura', 'vertex corporate services india pvt...', 'diraa hr services hiring for diraa ...', 'integrated personnel services limit...']

In [123]:
print(len(company_name))

20

In [124]:
total_experiance =[]

experiance =driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experiance:
    exp = i.text
    total_experiance.append(exp)

print(total_experiance)

['12 to 22 Yrs', '2 to 7 Yrs', '4 to 8 Yrs', '0 to 2 Yrs', '0 to 4 Yrs', '5 to 8 Yrs', '3 to 8 Yrs', '0 to 4 Yrs', '8 to 13 Yrs', '2 to 7 Yrs', '8 to 13 Yrs', '7 to 9 Yrs', '3 to 8 Yrs', '4 to 9 Yrs', '0 to 4 Yrs', '9 to 12 Yrs', '0 to 2 Yrs', '20 to >25 Yrs', '0 to 4 Yrs', '4 to 9 Yrs']

In [125]:
print(len(total_experiance))

20

In [126]:
df= pd.DataFrame({'job_title':job_title,'job_location':job_location ,'company_name':company_name,'total_experiance':total_experiance})

df.head(10)

,job_title,job_location,company_name,total_experiance
0,Lead Data Scientist,Gurugram\n+8,spento papers (india) llp,12 to 22 Yrs
1,Data Scientist,Bangalore\n+9,future solution centre,2 to 7 Yrs
2,Data Scientist,Bangalore,eliterecruitments hiring for global...,4 to 8 Yrs
3,Data Scientist,Bangalore\n+2,the christopher's consulting and re...,0 to 2 Yrs
4,Data Scientist,Mumbai City\n+9,divya staffing solution,0 to 4 Yrs
5,Data Science Analytics,Gurugram\n+7,mackenzie modern it solutions priva...,5 to 8 Yrs
6,Data Science Manager,Gurugram\n+7,mackenzie modern it solutions priva...,3 to 8 Yrs
7,Data Management Team Leader,Gurugram\n+9,overnet trading private limited,0 to 4 Yrs
8,Healthcare Data Analyst,Gurugram\n+8,spento papers (india) llp,8 to 13 Yrs
9,Senior Data Analyst,Gurugram\n+8,gallagher and mohan private limited,2 to 7 Yrs